<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li>Автор: {{ author_info.name }}</li>
            <li>Дата и место рождения: {{ author_info.date_birthday}}</li>
            <li class="container">
                <p>Биография автора: {{ author_info.about}}</p>
            </li>
            <li>
                <h4>
                    Цитата:
                    <ul>
                        {% for quote in author_info.quotes_set.all %}
                            <p>{{ quote.quotes }}</p>
                        {% endfor %}
                    </ul>
                </h4>
            </li>
    </ul>
</body>
</html>